body{

margin:0;
font-family:Arial;

background:#0d1117;
color:white;
}

/* HEADER */

.header{

height:60px;

background:#161b22;

display:flex;

align-items:center;

padding:0 20px;

position:fixed;

top:0;
left:0;
right:0;

z-index:1000;
}

.header h2{

margin-left:15px;
font-size:18px;
}

#menuBtn{

background:none;
border:none;

color:white;

font-size:25px;

cursor:pointer;
}

/* SIDEBAR */

.sidebar{

position:fixed;

top:60px;
left:-250px;

width:250px;
height:100%;

background:#161b22;

padding:20px;

transition:0.3s;

z-index:999;
}

.sidebar.open{

left:0;
}

.sidebar button{

width:100%;

padding:15px;

margin-bottom:10px;

border:none;

border-radius:10px;

background:#21262d;

color:white;

text-align:left;

font-size:16px;
}

/* MAIN */

.main{

padding:80px 20px;
}

/* PAGES */

.hidden{

display:none;
}

/* CARDS */

.cards{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(150px,1fr));

gap:15px;

margin-top:20px;
}

.card{

background:#161b22;

padding:20px;

border-radius:15px;

text-align:center;
}

/* FORM */

.form-box{

display:grid;

gap:10px;

margin-bottom:20px;
}

input{

padding:12px;

border:none;

border-radius:10px;
}

.form-box button{

padding:15px;

border:none;

border-radius:10px;

background:#00c853;

color:white;

font-size:16px;
}

/* TABLE */

table{

width:100%;

border-collapse:collapse;

background:#161b22;

border-radius:10px;

overflow:hidden;
}

th, td{

padding:15px;

border-bottom:
1px solid #30363d;

text-align:center;
}